<!--Katherine Soltani (G01191765), Sharadha Shivakumar (G01390373),Swathi Dharma Sankaran(G01351215), Nikhitha Kalinga(G01382843)
-->
<!--providing links to fill the form and view all the user submissions -->
<div style="text-align: center; margin-top: 10px; color: blue">
  <h1>Welcome to the Survey Form</h1>
  <nav>
    <ul>
      <li><a routerLink="/student-survey" routerLinkActive="active">Student Survey</a></li>
      <li><a routerLink="/list-surveys" routerLinkActive="active">List All Surveys</a></li>
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>
